.btn.btn-outline-success{
    color: #696969 !important;
    border-color:#696969 !important;
    border-radius: 10px;
}

.btn.btn-outline-success:hover{
    background-color: transparent !important;
    border-color:transparent;
}

body{
    font-family: 'Epilogue';
}

.navbar-brand{
    color: #141414;
    font-weight: 700;
    font-size: 30px;
}

.nav-item.dropdown a, .nav-item a, .d-flex a, .d-flex button{
    color: #696969 !important;
    font-size: 13px;
    margin: 0 0 0 20px;
}

.btn{
    border-radius: 10px;
}

.col p , .btn{
    font-size: 18px;
    font-family: 'Epilogue';
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.col h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 40px;
}

.col p{
    padding-bottom: 30px;
}

.btn.bg-dark{
    border-radius: 10px;
}